<html>
  <head></head>
  <body>
  <form>
  <h1>
  <%= message %> <br>
  The secret number is <%=number %>
  </h1>
  <input type='text' name='guess' />
  <input type='submit' value='Guess!' />
</form>
  </body>
</html>